*{
    box-sizing: border-box;
}

input[type="button"], input[type="submit"]{
    cursor: pointer;
}

.header{
    width: 100%;
    height: 100px;
    border-bottom: 2px gray solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}

.logIn, .profileButton {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: max-content;
}

.logIn_Button{
    width: 100px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
    height: max-content;
    border: 1px black solid;
    background-color: rgb(41, 8, 8) ;
    font-size: 25px;
    color: whitesmoke;
    margin-left: 10px;
}


.profileButton_avatar{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
    border: 3px black solid;
    border-radius: 5px;
}

.profileButton_avatar img{
    display: block;
    height: 100%;
}

.main{
    padding: 10px;
}

.nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;  
}


.search{
    width: 40%;
    height: 50px;
    border: 1px gray solid;
    border-radius: 20px;
    float: left;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.308);
}
.search:hover .search_submit{
    font-size: 17px;
}

.search_field{
    border: none;
    width: 75%;
    font-size: 20px;
}
.search_field:focus{
    outline: none;
}

.search_submit{
    padding: 2px;
    width: 20%;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.search_submit:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
}

.selectForm {
    height: 50px;
    font-size: 20px;
    width: max-content;
    padding: 5px;
    border-radius: 15px;
    border: 1px gray solid;
    cursor: pointer;
}
.selectForm:focus{
    outline: none;
}

.selectButton{
    width: 100px;
    background: white;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectButton .arrowDown {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.content-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contentItem{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 15% 60% 25%;
    grid-template-areas: 
    "img name name"
    "img description description"
    "img nothing rating";
    place-content: center;
    place-items: center;
    margin-top: 2%;
}


.contentItem .name-wrapper{
    justify-self: start;
    font-size: 23px;
    font-weight: bold;
    grid-area: name;
}

.contentItem .img-wrapper{
    place-self: flex-start;
    justify-self: center;
    grid-area: img;
    width: 90%;
    overflow: hidden;
}

.contentItem .img-wrapper img{
    width: 100%;
}

.contentItem .description-wrapper{
    font-size: 20px;
    padding-top: 5px;
    align-self: flex-start;
    grid-area: description;
    overflow: hidden;
}

.contentItem .rating-wrapper{
    font-weight: bold;
    font-size: 22px;
    grid-area: rating;
    overflow: hidden;
    align-self: flex-start;
}

.content-wrapper hr{
    width: 100%;
    height: 2px;
    color: black;
}

.filterBackground{
    background: #0000002a;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterMenu{
    width: 60%;
    height: max-content;
    padding-top: 50px;
    background: whitesmoke;
    border-radius: 10px;
  
}

.filterMenu form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas: "year" "genre" "submit";
    justify-content: center;
    align-items: center;
}

.filterMenuBlock{
    padding: 20px;
    height: max-content;
    display: flex;
    margin: auto;
    width: 90%;
    font-size: 20px;
}

.filterMenuBlock legend{
    font-weight: bold;
}

.filterMenuBlock.year{
    grid-area: year;
    flex-direction: column;
} 
.filterMenuBlock.genre{
    column-gap: 50px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-area: genre;
} 
.filterMenuBlock.submit{
    grid-area: submit;
    justify-content: end;
}

.filterSubmitButton{
    color: white;
    width: max-content;
    font-size: 20px;
    padding: 5px;
    background: rgb(68, 68, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px gray solid;
    border-radius: 5px;
}

.filterSubmitButton:hover{
    border-color: rgb(68, 68, 68);
    background: gray;
}

.filterMenuBlock .genreItem{
    width: 150px;
}

